<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imnu.crm.mapper.MarketMapper">
  <resultMap id="BaseResultMap" type="com.imnu.crm.pojo.Market">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="yuqshour" jdbcType="DOUBLE" property="yuqshour" />
    <result column="yucshour" jdbcType="DOUBLE" property="yucshour" />
    <result column="shjshour" jdbcType="DOUBLE" property="shjshour" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, flag, yuqshour, yucshour, shjshour, path
  </sql>
  <select id="selectByExample" parameterType="com.imnu.crm.pojo.MarketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from market
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from market
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from market
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imnu.crm.pojo.MarketExample">
    delete from market
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imnu.crm.pojo.Market">
    insert into market (id, name, flag, 
      yuqshour, yucshour, shjshour, 
      path)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{yuqshour,jdbcType=DOUBLE}, #{yucshour,jdbcType=DOUBLE}, #{shjshour,jdbcType=DOUBLE}, 
      #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.imnu.crm.pojo.Market">
    insert into market
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="yuqshour != null">
        yuqshour,
      </if>
      <if test="yucshour != null">
        yucshour,
      </if>
      <if test="shjshour != null">
        shjshour,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="yuqshour != null">
        #{yuqshour,jdbcType=DOUBLE},
      </if>
      <if test="yucshour != null">
        #{yucshour,jdbcType=DOUBLE},
      </if>
      <if test="shjshour != null">
        #{shjshour,jdbcType=DOUBLE},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imnu.crm.pojo.MarketExample" resultType="java.lang.Long">
    select count(*) from market
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update market
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.yuqshour != null">
        yuqshour = #{record.yuqshour,jdbcType=DOUBLE},
      </if>
      <if test="record.yucshour != null">
        yucshour = #{record.yucshour,jdbcType=DOUBLE},
      </if>
      <if test="record.shjshour != null">
        shjshour = #{record.shjshour,jdbcType=DOUBLE},
      </if>
      <if test="record.path != null">
        path = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update market
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=VARCHAR},
      yuqshour = #{record.yuqshour,jdbcType=DOUBLE},
      yucshour = #{record.yucshour,jdbcType=DOUBLE},
      shjshour = #{record.shjshour,jdbcType=DOUBLE},
      path = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imnu.crm.pojo.Market">
    update market
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="yuqshour != null">
        yuqshour = #{yuqshour,jdbcType=DOUBLE},
      </if>
      <if test="yucshour != null">
        yucshour = #{yucshour,jdbcType=DOUBLE},
      </if>
      <if test="shjshour != null">
        shjshour = #{shjshour,jdbcType=DOUBLE},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imnu.crm.pojo.Market">
    update market
    set name = #{name,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      yuqshour = #{yuqshour,jdbcType=DOUBLE},
      yucshour = #{yucshour,jdbcType=DOUBLE},
      shjshour = #{shjshour,jdbcType=DOUBLE},
      path = #{path,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>